openapi: 3.1.0
info:
  title: Wix REST Cart OAuth API
  description: 'Wix REST API provides programmatic access to Wix business solutions including

    e-commerce (carts, checkouts, orders, products), site services, and OAuth 2.0

    authentication. Apps authenticate via OAuth on behalf of Wix users, site visitors,

    or members.

    '
  version: '1.0'
  contact:
    name: Wix
    url: https://dev.wix.com/docs/rest
servers:
- url: https://www.wixapis.com
  description: Wix API production server
security:
- oauth2: []
- apiKey: []
tags:
- name: OAuth
paths:
  /oauth2/token:
    post:
      tags:
      - OAuth
      summary: Request an access token
      description: Create an OAuth 2.0 access token for app authentication
      operationId: requestAccessToken
      responses:
        '200':
          description: OK
  /oauth2/token/refresh:
    post:
      tags:
      - OAuth
      summary: Refresh an access token
      operationId: refreshAccessToken
      responses:
        '200':
          description: OK
  /oauth2/token/info:
    get:
      tags:
      - OAuth
      summary: Get token info
      operationId: getTokenInfo
      responses:
        '200':
          description: OK
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 for Wix third-party apps
      flows:
        authorizationCode:
          authorizationUrl: https://www.wix.com/installer/install
          tokenUrl: https://www.wixapis.com/oauth2/token
          scopes: {}
    apiKey:
      type: apiKey
      in: header
      name: Authorization
      description: API key authentication (Wix-account-only; not for third-party apps)
