openapi: 3.1.0
info:
  title: Wix REST Cart Products API
  description: 'Wix REST API provides programmatic access to Wix business solutions including

    e-commerce (carts, checkouts, orders, products), site services, and OAuth 2.0

    authentication. Apps authenticate via OAuth on behalf of Wix users, site visitors,

    or members.

    '
  version: '1.0'
  contact:
    name: Wix
    url: https://dev.wix.com/docs/rest
servers:
- url: https://www.wixapis.com
  description: Wix API production server
security:
- oauth2: []
- apiKey: []
tags:
- name: Products
paths:
  /stores/v3/products:
    post:
      tags:
      - Products
      summary: Create product
      operationId: createProduct
      responses:
        '201':
          description: Created
  /stores/v3/products/query:
    post:
      tags:
      - Products
      summary: Query products
      operationId: queryProducts
      responses:
        '200':
          description: OK
  /stores/v3/products/search:
    post:
      tags:
      - Products
      summary: Search products
      operationId: searchProducts
      responses:
        '200':
          description: OK
  /stores/v3/products/{id}:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
    get:
      tags:
      - Products
      summary: Get product
      operationId: getProduct
      responses:
        '200':
          description: OK
    patch:
      tags:
      - Products
      summary: Update product
      operationId: updateProduct
      responses:
        '200':
          description: OK
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 for Wix third-party apps
      flows:
        authorizationCode:
          authorizationUrl: https://www.wix.com/installer/install
          tokenUrl: https://www.wixapis.com/oauth2/token
          scopes: {}
    apiKey:
      type: apiKey
      in: header
      name: Authorization
      description: API key authentication (Wix-account-only; not for third-party apps)
