openapi: 3.1.0
info:
  title: Wix REST Cart Orders API
  description: 'Wix REST API provides programmatic access to Wix business solutions including

    e-commerce (carts, checkouts, orders, products), site services, and OAuth 2.0

    authentication. Apps authenticate via OAuth on behalf of Wix users, site visitors,

    or members.

    '
  version: '1.0'
  contact:
    name: Wix
    url: https://dev.wix.com/docs/rest
servers:
- url: https://www.wixapis.com
  description: Wix API production server
security:
- oauth2: []
- apiKey: []
tags:
- name: Orders
paths:
  /ecom/v1/orders:
    post:
      tags:
      - Orders
      summary: Create order
      operationId: createOrder
      responses:
        '201':
          description: Created
  /ecom/v1/orders/{id}:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
    get:
      tags:
      - Orders
      summary: Get order
      operationId: getOrder
      responses:
        '200':
          description: OK
    post:
      tags:
      - Orders
      summary: Update order
      operationId: updateOrder
      responses:
        '200':
          description: OK
  /ecom/v1/orders/search:
    post:
      tags:
      - Orders
      summary: Search orders
      operationId: searchOrders
      responses:
        '200':
          description: OK
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 for Wix third-party apps
      flows:
        authorizationCode:
          authorizationUrl: https://www.wix.com/installer/install
          tokenUrl: https://www.wixapis.com/oauth2/token
          scopes: {}
    apiKey:
      type: apiKey
      in: header
      name: Authorization
      description: API key authentication (Wix-account-only; not for third-party apps)
